{% extends "portfolio_viewer/base.html" %}
{% load static %}

{% block content %}
  <div class = "bulletin-page">
    <div class="card-article card">
      <h2>{{article.title}}</h2>
      <h5>{{article.author}} <span class="badge badge-pill badge-info">{{ article.date_posted|date:"F d, Y" }}</span></h5>
      <img class="card-img" src={{article.article_image.url}}>            
      <p class = "text-muted" style = "padding-top: 1em;">{{article.main_story}}</p>
      {% if object.author == user %}
            <a class = "btn btn-secondary btn-sm mt-1 mb-1" href = "{% url 'bulletin_update' object.id %}">Update</a>
            <a class = "btn btn-danger btn-sm mt-1 mb-1" href = "{% url 'bulletin_delete' object.id %}">Delete</a>

      {% endif %}
    </div>
  </div>

{% endblock content %}
